.column {
  width: 70px;
  text-align: center;
}

.column_red {
  background: #FBEBE6;
  border: 1px solid #CE480F;
  color: #F7450D;
}

.column_green {
  background: #E6FBE6;
  border: 1px solid #0DF70D;
  color: #0FD10F;
}

.column_blue {
  background: #82B5FF;
  border: 1px solid #4A71AA;
  color: #4A71AA;
}